@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}
<p>@ViewBag.Message</p>
<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Wystąpił błąd podczas przetwarzanie żądnaia.</h2>

